
function o() {
  if [[ "$#" == 0 ]]; then
    open .;
  else
    open "$@";
  fi;
}

function mkd() {
  mkdir -p "$@" && cd "$_";
}

function gacp() {
  if [[ -z "$1" ]]; then
    echo "No argument supplied";
  else
    git add . && git commit -m $1 && git push origin "$(git_current_branch)"
  fi;
}
