# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Lock screen.

alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Shorter commands for `Homebrew`.

alias brewd="brew doctor"
alias brewi="brew install"
alias brewr="brew uninstall"
alias brews="brew search"
alias brewu="brew update \
                && brew upgrade \
                && brew cleanup"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Get local IP.

alias local-ip="ipconfig getifaddr en0"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Extras

-='cd -'
..='cd ..'
...=../..
....=../../..
.....=../../../..
......=../../../../..
1='cd -'
2='cd -2'
3='cd -3'
4='cd -4'
5='cd -5'
6='cd -6'
7='cd -7'
8='cd -8'
9='cd -9'
_='sudo '
alias dl="cd ~/Downloads"
g=git
ga='git add'
gaa='git add --all'
gb='git branch'
gbD='git branch -D'
gbl='git blame -b -w'
gcb='git checkout -b'
gcf='git config --list'
gcm='git checkout master'
gcmsg='git commit -m'
gco='git checkout'
gcount='git shortlog -sn'
gcp='git cherry-pick'
gcpa='git cherry-pick --abort'
gcpc='git cherry-pick --continue'
gd='git diff'
gdca='git diff --cached'
gfg='git ls-files | grep'
ggpull='git pull origin "$(git_current_branch)"'
ggpur=ggu
ggpush='git push origin "$(git_current_branch)"'
ghh='git help'
gignored='git ls-files -v | grep "^[[:lower:]]"'
gl='git pull'
glg='git log --stat'
glgg='git log --graph'
glgga='git log --graph --decorate --all'
glgm='git log --graph --max-count=10'
glgp='git log --stat -p'
glo='git log --oneline --decorate'
globurl='noglob urlglobber '
glog='git log --oneline --decorate --graph'
gloga='git log --oneline --decorate --graph --all'
gp='git push'
'gpf!'='git push --force'
grb='git rebase'
grba='git rebase --abort'
grbc='git rebase --continue'
grbd='git rebase develop'
grbi='git rebase -i'
grbm='git rebase master'
grbs='git rebase --skip'
gsb='git status -sb'
gsh='git show'
gsps='git show --pretty=short --show-signature'
gss='git status -s'
gst='git status'
gsta='git stash push'
gstaa='git stash apply'
gstall='git stash --all'
gstc='git stash clear'
gstd='git stash drop'
gstl='git stash list'
gstp='git stash pop'
gsts='git stash show --text'
gstu='git stash --include-untracked'
gsu='git submodule update'
gup='git pull --rebase'
history=omz_history
l='ls -lah'
la='ls -lAh'
ll='ls -lh'
ls='ls -G'
lsa='ls -lah'
lsd='ls -lF  | grep --color=never '\''^d'\'
local-ip='ipconfig getifaddr en0'
md='mkdir -p'
rd=rmdir
